<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Excited-api</title>
<style>
*{padding: 0;margin: 0;font-size: 16px;line-height: 20px;font-family: arial;}
header{padding: 70px 0 70px 0;background-color: #4A6495}
h1{font-size: 36px;color:#fff;font-weight: normal;text-align: center;}
p{color:#fff;font-size: 20px;margin-top: 20px;text-align: center;}

</style>
</head>
<body>
  <header>
    <div class="wrap">
      <h1>Excited-api</h1>
      <p>use thinkJs</p>
    </div>
  </header>
</body>
</html>
